########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{% if zsh.preferred_pagers is defined %}
# Preferred pager
{%- for choice in zsh.preferred_pagers %}
{%- if loop.first %}
if command -v {{ choice }} > /dev/null; then
    PREFERRED_PAGER=$(which {{ choice }})
{%- elif loop.last %}
else
    PREFERRED_PAGER=$(which {{ choice }})
{%- else %}
elif command -v {{ choice }} > /dev/null; then
    PREFERRED_PAGER=$(which {{ choice }})
{%- endif %}
{%- endfor %}
fi

## Set preferred pager
export PAGER=${PREFERRED_PAGER}

{% endif %}
