########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{%- for plugin in zsh.plugins %}
{{ plugin }}
{% endfor %}
