########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

This is another example file from SaltStack template-formula.

# This is here for testing purposes
{{ stoojdotfilescommon | json }}

winner of the merge: {{ stoojdotfilescommon['winner'] }}
