########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

---

code: /home/stooj/code
tmp: /home/stooj/tmp
