########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

priority 0
##############
#  DOCTYPES  #
##############

snippet html5 "HTML5 Template"
<!DOCTYPE html>
<html lang="en">
<head>
	<title>${1}</title>
	<meta charset="utf-8" />
</head>
<body>
	<header>
		${2}
	</header>
	<footer>
		${4}
	</footer>
</body>
</html>
endsnippet

###############
#  HTML Tags  #
###############

snippet strong "XHTML <strong>" w
<strong>$0</strong>
endsnippet

snippet em "XHTML <em>" w
<em>$0</em>
endsnippet

snippet button "XHTML <button>" w
<button type="${1:button}" class="${2:name}" data-toggle="${3:collapse}" data-target="${4:target}">
	$0
</button>
endsnippet

snippet span "XHTML <span>" w
<span class="${1:name}">
	$0
</span>
endsnippet

# vim:ft=snippets:
