""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" File managed by Salt at <{{ source }}>.
" Your changes will be overwritten.
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" Wrap at 72 characters for comments
setlocal formatoptions+=cqroj textwidth=72 foldignore= colorcolumn=80
